affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1726931217849/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1712700614056/work
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1724960383435/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1724417487351/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1714071803448/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1718811419212/work
cachy @ file:///home/conda/feedstock_root/build_artifacts/cachy_1664983268779/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1728342231186/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cf_xarray @ file:///home/conda/feedstock_root/build_artifacts/cf_xarray_1726061612576/work
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560520483/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1725400453617/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-default-group @ file:///home/conda/feedstock_root/build_artifacts/click-default-group_1691239292067/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
clikit @ file:///home/conda/feedstock_root/build_artifacts/clikit_1676917709145/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
conda_lock @ file:///home/conda/feedstock_root/build_artifacts/conda-lock_1714161645835/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1727293539542/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1725443066932/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1727240596241/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1728557174656/work
duckdb @ file:///home/conda/feedstock_root/build_artifacts/python-duckdb-split_1727810691770/work/tools/pythonpkg
ensureconda @ file:///home/conda/feedstock_root/build_artifacts/ensureconda_1707070458843/work
esmpy @ file:///home/conda/feedstock_root/build_artifacts/esmpy_1714091725531/work/src/addon/esmpy
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1718605969954/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1727206326309/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1726897840759/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
gower==0.1.2
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1726922182064/work
h3 @ file:///home/conda/feedstock_root/build_artifacts/h3-py_1710138323406/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1727944696411/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1724334859652/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1713939306738/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1714372187587/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1701695162614/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jupyter_bokeh @ file:///home/conda/feedstock_root/build_artifacts/jupyter_bokeh_1717410525108/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1724331334887/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1726970992756/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459213453/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1707129103613/work
llvmlite==0.43.0
loguru @ file:///home/conda/feedstock_root/build_artifacts/loguru_1725349716564/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1727220737966/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1728489061959/work
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1725995206295/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1725630081114/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725974993022/work
multimethod @ file:///home/conda/feedstock_root/build_artifacts/multimethod_1677278728711/work
munkres==1.1.4
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1728196367769/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1718888013454/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1724748621758/work/dist/numpy-2.0.2-cp310-cp310-linux_x86_64.whl#sha256=dcb89f50311213804a5e2632508ed861f4d0d7ed5e94172a6510cc43aa123af7
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878398774/work
pandera @ file:///home/conda/feedstock_root/build_artifacts/pandera-suite_1725408204386/work
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1728022665769/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1719325174749/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1726748051454/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pastel @ file:///home/conda/feedstock_root/build_artifacts/pastel_1640899049124/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1726075077786/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1717941096678/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
prql-python==0.11.2
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1725737838492/work
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1727892677567/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pyarrow==17.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1726601062926/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1726524987213/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pylev @ file:///home/conda/feedstock_root/build_artifacts/pylev_1641226376343/work
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1725739248276/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1718652772891/work
pyogrio @ file:///home/conda/feedstock_root/build_artifacts/pyogrio_1727771575489/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1727795308773/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
PySide6==6.7.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1725977232342/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-logging-loki==0.3.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyviz_comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1722535616369/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1725456145900/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1725448950123/work
rasterio @ file:///home/conda/feedstock_root/build_artifacts/rasterio_1727779754823/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rfc3339==6.2
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1728057819683/work/dist
rioxarray @ file:///home/conda/feedstock_root/build_artifacts/rioxarray_1721411995887/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298115475/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314473442/work
ruff @ file:///home/conda/feedstock_root/build_artifacts/ruff_1728066449021/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1726082665124/work/dist/scikit_learn-1.5.2-cp310-cp310-linux_x86_64.whl#sha256=914b88d7388a0d1dbe92050e4583e162038cff9d8bf6b85d76a4d58ac89079d0
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1724327064660/work/dist/scipy-1.14.1-cp310-cp310-linux_x86_64.whl#sha256=b518850b2e690f597f0ae43dbed111989302770df900f6e2bf1c65111f1c67e6
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1725915608929/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1727273399315/work
shiboken6==6.7.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1722610615774/work
sparse @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_sparse_1727687215/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1726596192777/work
sshtunnel @ file:///home/conda/feedstock_root/build_artifacts/sshtunnel_1636361596594/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986707121/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1723631480657/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1724960687225/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1721540425920/work
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1707507364877/work
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1723656031325/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1704986336983/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718728347128/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1727513735030/work
watchfiles @ file:///home/conda/feedstock_root/build_artifacts/watchfiles_1725346925331/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1724331337528/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1724957893583/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1728453175552/work
xesmf @ file:///home/conda/feedstock_root/build_artifacts/xesmf_1721223924735/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1725366347586/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
